<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../styles/empform.css">
    <script src="../scripts/empform.js"></script>

</head>


<body>
    <div>
        <div class="main">
            employe payroll header
        </div>

        <div style="display: flex; justify-content: center; align-items: center;margin-top: 20px;">
            <div class="empform">
                <div>
                    <label for="name"> first name</label>
                    <input type="text" id="fname">
                </div>
                <div>
                    <label for="name"> lastname name</label>
                    <input type="text" id="lname">
                </div>
                <div>
                    <label for="name"> Email</label>
                    <input type="text" id="email">
                </div>

                <div>
                    <label for="name"> imge</label>
                    <input type="file" id="img">
                </div>
      


                <button onclick="addEmployee()">submit</button>

            </div>
        </div>



    </div>

</body>

</html>